/*----------common----------*/

.body-custom{
    margin:45px auto;
    background-color:#e9eaed;
}

.cont-cust{
    background-color:#FFFFFF;
    padding:20px;
    box-shadow: 1px 1px 9px 3px #999;
    min-height: 100vh;
}

/*----------customer_registration----------*/

#recaptcha_table {
	width: 450px!important;
}

/*----------browse_gallery_view----------*/

.productbox {
    min-width: 192px;
    max-width: 192px;
    background-color:#ffffff;
    padding:10px;
    border-radius: 10px;
    margin: 18px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999; 
}

.producttitle {
    height: 80px;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}

.pricetext {
    position: absolute;
    right: 10px;
    display: inline;
    text-align: right;
    font-size: 12px;
    color: #F60;
    font-weight: 700;
}

.image-center{	
    margin:0 auto;
    max-height: 120px;
}

.img-container{
    height: 120px; 
}

.img-container-small{
    height: 50px; 
}

.glow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.glow:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


.shape{    
    border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
}

/*----------ad_details_view----------*/
.sp-wrap {
    
}
/*
.cont-ad-cust{
    border-radius: 10px;
    background-color:#FFFFFF;
    padding:20px;
    margin-bottom: 30px;
    margin-top: 15px;
    box-shadow: 1px 1px 9px 9px #999;  
}*/

.sub-container{
    background-color:#FBFBFB;
    border: 1px solid #E6E6E6;
    padding:20px;  
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px -3px #999;
}

.tab-content-custom{
    padding:30px;
}

.image-box-custom{
    border: 1px solid #E6E6E6;
}

.description-cont{
    background-color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px; 
    color: #333; 
    border: none;
}


/*----------index----------*/
.cont-search-cust{
    background-color:#eaf1f1;
    border-radius: 10px;
    padding:20px;
    border: 1px solid rgba(0,0,0,0.1);
}

.category-bar{
    margin-top: 10px; 
    margin-bottom: 10px; 
    border-bottom:1px solid #E1E1E1; 
    border-top: 1px solid #E1E1E1;
}

/*----------slder------------*/

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    height: 330px;
    float: bottom;
}
.col-item .photo img
{
    margin: 5px auto;
    max-height: 150px;
}

.col-item .info
{
    border-radius: 0 0 5px 5px;
    margin-right: 16px;
    float: bottom;
    padding: 5px;
    padding-top: 0px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    padding: 20px;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #F60;
    font-weight: 700;
    text-align: center;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.cont-slider-cust{
    background-color:#FBFBFB;
    border-radius: 3px;
    padding:15px;
    padding-right: 40px;
    box-shadow: 1px 1px 7px 3px #999;
    margin-top: 10px;
}

/*----------Hover-effect Activated Navbar------------*/


.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

